extends ./templates/layout.pug

block content
    h1 pug to html f.
    p  michael
    - var user = { description: '' }
    - var authorised = true
    #user
        if user.description
            h2.green Description
            p.description= user.description
        else if authorised
            h2.blue Description
            p.description.
             User is authorised but has no description, why not add one...
        else
            h2.red Description
            p.description User has no description
            p User is not authorised.

    -  var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis","NIce"]
    each item in list
        ul
            li= item 
    
    p#greeting Loading..

    iframe(allowfullscreen="" frameborder="0" height="360" mozallowfullscreen="" src="https://player.vimeo.com/video/243814211" webkitallowfullscreen="" width="640")
    iframe(allowfullscreen="" frameborder="0" height="360" mozallowfullscreen="" src="https://player.vimeo.com/video/243814211" webkitallowfullscreen="" width="640")
    iframe(src="")